<div class="container">
  <h2 class="heading">ユーザー登録完了</h2>
  <div>
    <p>
      アクティベーションを受け付けました。<br />
      ログイン画面よりログインをお願いします。<br />
      (※このページは閉じていただいて構いません。)<br />
    </p>
  </div>
</div>
