<%= javascript_pack_tag 'app' %>
<%= stylesheet_pack_tag 'app' %>
<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">

<div id="app">
  <div class="container">
    <navbar></navbar>
    <router-view></router-view>
  </div>
</div>
